{% extends 'financeiro/extends/pagination.html' %}

{% block content_items %}
<!-- Table -->
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="col-sm-12">
                    <div class="text-left">
                        <button
                                id="btn-add"
                                class="btn btn-icon btn-2 btn-default"
                                type="button"
                                data-toggle="modal" data-target="#modal-view">
                            <span class="btn-inner--icon"><i class="fa fa-plus"> Adicionar</i></span>
                        </button>
                    </div>
                    <h3 class="mb-0 text-right">Lista de Contas Recebidas</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Nº do Documento</th>
                        <th scope="col">Valor do Título</th>
                        <th scope="col">Valor Pago</th>
                        <th scope="col">Data da Baixa</th>
                        <th scope="col"><i>Ações</i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lancamento in items.object_list %}
                    <tr>
                        <th scope="row">
                            <div class="media-body">
                                <span class="mb-0 text-sm">{{ lancamento.numero_documento }}</span>
                            </div>
                        </th>
                        <td>
                            {{ lancamento.valor_titulo }}
                        </td>
                        <td>
                            {{ lancamento.valor_pago }}
                        </td>
                        <td>
                            {{ lancamento.data_baixa }}
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item view"
                                       onclick="onViewClick(this)"
                                       item-id="{{ lancamento.id_lancamento_receber }}"
                                       data-toggle="modal" data-target="#modal-view"
                                       href="#">Visualizar</a>
                                    <a class="dropdown-item edit"
                                       onclick="onEditClick(this)"
                                       item-id="{{ lancamento.id_lancamento_receber }}"
                                       data-toggle="modal" data-target="#modal-view"
                                       href="#">Editar</a>
                                    <a class="dropdown-item delete"
                                       onclick="onDeleteClick(this)"
                                       item-id="{{ lancamento.id_lancamento_receber }}"
                                       href="#">Deletar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal view e edit-->
<div class="modal fade" id="modal-view" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent">
                        <div class="text-muted text-center">
                            <h2>Conta Recebida</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form" id="form-item">
                            <h6 class="text-muted">DADOS PRINCIPAIS</h6>
                            <input name="id_lancamento_receber" hidden>
                            <div class="row">
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Nº do Documento</label>
                                    <input class="form-control"
                                           name="numero_documento"
                                           type="text">
                                </div>
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Empresa</label>
                                    <select class="form-control" name="id_empresa">
                                        <option value="">----------</option>
                                        {% for empresa in combobox_empresas %}
                                        <option value="http://127.0.0.1:8000/empresas/{{empresa.id_empresa}}/">{{empresa.identificacao}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Cliente</label>
                                    <select class="form-control" name="id_cliente">
                                        <option value="">----------</option>
                                        {% for cliente in combobox_clientes %}
                                        <option value="http://127.0.0.1:8000/fornecedores/{{cliente.id_cliente}}/">{{fornecedor.identificacao}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Valor do Título</label>
                                    <input class="form-control"
                                           name="valor_titulo"
                                           type="text">
                                </div>
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Data de Emissão</label>
                                    <input class="form-control"
                                           name="data_emissao"
                                           type="date">
                                </div>
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Data de Vencimento</label>
                                    <input class="form-control"
                                           name="data_vencimento"
                                           type="date">
                                </div>
                            </div>
                            <hr>
                            <h6 class="text-muted">BAIXA</h6>
                            <div class="row">
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Data da Baixa</label>
                                    <input class="form-control"
                                           name="data_baixa"
                                           type="date">
                                </div>
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Valor Pago</label>
                                    <input class="form-control"
                                           name="valor_pago"
                                           type="text">
                                </div>
                                <div class="form-group mb-3 col-sm-4">
                                    <label class="label">Forma de Pagamento</label>
                                    <select class="form-control" name="id_forma_pagamento">
                                        <option value="">----------</option>
                                        {% for forma_pagamento in combobox_formas_pagamento %}
                                        <option
                                                value="http://127.0.0.1:8000/formas-pagamento/{{forma_pagamento.id_forma_pagamento}}/"
                                        >
                                            {{forma_pagamento.descricao}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" onclick="location.reload()">Fechar
                                </button>
                                <button type="submit" id="save" class="btn btn-primary my-4">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="server" value="{{ server }}" hidden/>
<input id="model" value="baixas-a-receber" hidden/>
<!-- modal view e edit -->
{% endblock %}