{% extends 'financeiro/extends/pagination.html' %}

{% block content_items %}
<!-- Table -->
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="col-sm-12">
                    <div class="text-left">
                        <button
                                id="btn-add"
                                class="btn btn-icon btn-2 btn-default"
                                type="button"
                                data-toggle="modal" data-target="#modal-view">
                            <span class="btn-inner--icon"><i class="fa fa-plus"> Adicionar</i></span>
                        </button>
                    </div>
                    <h3 class="mb-0 text-left">Lista de {{ page.title }}</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        
                        <th scope="col">ID Formas Pagamento</th>
                        <th scope="col">Descricao</th>
                        <th scope="col"><i>Ações</i></th>
                    </tr>
                    </thead>
                    <tbody>
                     
                
                    {% for formaspagamento in items.object_list %}
                    <tr>
                        <th scope="row">
                            <div class="media-body">
                                <span class="mb-0 text-sm">{{ formaspagamento.idFormasPagamento }}</span>
                            </div>
                        </th>
                        <td>
                            {{ formaspagamento.descricao }}
                        </td>
                       
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#">Visualizar</a>
                                    <a class="dropdown-item" href="#">Editar</a>
                                    <a class="dropdown-item" href="#">Deletar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}