{% extends 'financeiro/extends/pagination.html' %}

{% block content_items %}
<!-- Table -->
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Lista de {{ page.title }}</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Idenfificacao</th>
                        <th scope="col">CPF/CNPJ</th>
                        <th scope="col">inscricaoEstadual</th>
                        <th scope="col">inscricaoMunicipal</th>
                        <th scope="col"><i>Ações</i></th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% if items.object_list.count > 0 %}
                    {% for fornecedores in items.object_list %}
                    <tr>
                        <th scope="row">
                            <div class="media-body">
                                <span class="mb-0 text-sm">{{ fornecedores.idFornecedores }}</span>
                            </div>
                        </th>
                     
                        <td>
                            {{ fornecedores.identificacao }}
                        </td>
                         <td>
                            {% if fornecedores.cpf %}
                            {{ fornecedores.cpf }}
                            {% else %}
                            {{ fornecedores.cnpj }}
                            {% endif %}
                        </td>
                        <td>
                            {{ fornecedores.classificacao }}
                        </td>
                        <td>
                            {{ fornecedores.numeroConta }}
                        </td>
                        <td>
                            {{ fornecedores.numeroAgencia }}
                        </td>
                         <td>
                            {{ fornecedores.DataSaldoInicial }}
                        </td>
                         <td>
                            {{ fornecedores.Caixa }}
                        </td>
                         <td>
                            {{ fornecedores.Banco }}
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#">Visualizar</a>
                                    <a class="dropdown-item" href="#">Editar</a>
                                    <a class="dropdown-item" href="#">Deletar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}